In [2]:
# Used for plotting data
%matplotlib inline
import matplotlib.pyplot as plt
# Used for data storage and manipulation 
import numpy as np
import pandas as pd
# Used for Regression Modelling
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.model_selection import train_test_split
# Used for Acc metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
# For stepwise regression
import statsmodels.api as sm
# box plots
import seaborn as sns
# pairplot
from seaborn import pairplot
# Correlation plot
from statsmodels.graphics.correlation import plot_corr

df = pd.read_csv('../datasets/scores_w_avgs.csv')
df = df.dropna()
df

,schedule_date,schedule_season,home_id,away_id,score_home,home_avg_yards,home_avg_TO,score_away,away_avg_yards,away_avg_TO,total_score,over_under_line,label
0,1/14/1968,1967,GNB,RAI,33,304.117647,2.529412,14,361.764706,2.352941,47,43.0,over
1,1/12/1969,1968,CLT,NYJ,7,332.529412,2.529412,16,365.470588,1.823529,23,40.0,under
2,1/11/1970,1969,KAN,MIN,23,315.470588,2.588235,7,293.705882,2.235294,30,39.0,under
3,1/17/1971,1970,CLT,DAL,16,301.470588,2.529412,13,306.823529,2.000000,29,36.0,under
4,1/16/1972,1971,DAL,MIA,24,342.000000,2.176471,3,311.176471,1.705882,27,34.0,under
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10391,1/17/2021,2020,KAN,CLE,22,417.117647,1.000000,17,370.882353,0.882353,39,56.0,under
10392,1/17/2021,2020,NOR,TAM,20,378.294118,1.294118,30,391.647059,0.882353,50,53.0,under
10393,1/24/2021,2020,GNB,TAM,26,386.294118,0.764706,31,392.352941,0.941176,57,53.0,over
10394,1/24/2021,2020,KAN,BUF,38,421.235294,1.058824,24,376.235294,1.176471,62,55.0,over
10395,2/7/2021,2020,TAM,KAN,31,391.588235,0.941176,9,417.470588,1.176471,40,54.5,under

In [47]:
df['score_home'] = df['score_home'].astype('float64')
df['score_away'] = df['score_away'].astype('float64')
df['total_score'] = df['total_score'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10332 entries, 0 to 10395
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   schedule_date    10332 non-null  object
 1   schedule_season  10332 non-null  int64
 2   home_id          10332 non-null  object
 3   away_id          10332 non-null  object
 4   score_home       10332 non-null  float64
 5   home_avg_yards   10332 non-null  float64
 6   home_avg_TO      10332 non-null  float64
 7   score_away       10332 non-null  float64
 8   away_avg_yards   10332 non-null  float64
 9   away_avg_TO      10332 non-null  float64
 10  total_score      10332 non-null  float64
 11  over_under_line  10332 non-null  float64
 12  label            10332 non-null  object
dtypes: float64(8), int64(1), object(4)
memory usage: 1.1+ MB

In [1]:
from IPython.display import display
X = pd.DataFrame(df, columns = ['home_avg_yards', 'home_avg_TO', 'away_avg_yards', 'away_avg_TO'])
Y = pd.DataFrame(df, columns=['total_score'])

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1)

NameError: name 'pd' is not defined

In [63]:
# Create linear regression model
lin_reg_mod = LinearRegression()
# Fit linear regression
lin_reg_mod.fit(X_train, Y_train)
# Make prediction on the testing data
pred = lin_reg_mod.predict(X_test)
pred

array([[39.86327355],
       [40.67745688],
       [44.39429477],
       ...,
       [45.32048563],
       [52.83580128],
       [45.38102311]])

In [49]:
print(lin_reg_mod.intercept_)
print(lin_reg_mod.coef_)

[-10.43594174]
[[ 0.08095847 -0.10562879  0.07853732  0.5470625 ]]

In [50]:
test_set_r2 = r2_score(Y_test, pred)
# The closer towards 1, the better the fit
print(test_set_r2)

0.111368472602552

In [51]:
# Calculate the Root Mean Square Error between the actual & predicted
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))
# Note that for rmse, the lower that value is, the better the fit
print(test_set_rmse)

22.691387555816192

In [65]:
n = pred[10][0]
print(n)
df.iloc[2663]
X_test

44.72809706838705

schedule_date      9/29/1991
schedule_season         1991
home_id                  NYJ
away_id                  MIA
score_home                41
home_avg_yards       304.824
home_avg_TO          1.41176
score_away                23
away_avg_yards       318.294
away_avg_TO          1.41176
total_score               64
over_under_line           38
label                   over
Name: 2663, dtype: object

home_avg_yards    304.823529
home_avg_TO         1.411765
Name: 2663, dtype: float64

schedule_date      9/29/1991
schedule_season         1991
home_id                  NYJ
away_id                  MIA
score_home                41
home_avg_yards       304.824
home_avg_TO          1.41176
score_away                23
away_avg_yards       318.294
away_avg_TO          1.41176
total_score               64
over_under_line           38
label                   over
Name: 2663, dtype: object