In [1]:
import pandas as pd
df = pd.read_csv('../datasets/scores_w_avgs.csv')
df = df.dropna()
df

,schedule_date,schedule_season,home_id,away_id,score_home,home_avg_yards,home_avg_TO,score_away,away_avg_yards,away_avg_TO,total_score,over_under_line,label
0,1/14/1968,1967,GNB,RAI,33,304.117647,2.529412,14,361.764706,2.352941,47,43.0,over
1,1/12/1969,1968,CLT,NYJ,7,332.529412,2.529412,16,365.470588,1.823529,23,40.0,under
2,1/11/1970,1969,KAN,MIN,23,315.470588,2.588235,7,293.705882,2.235294,30,39.0,under
3,1/17/1971,1970,CLT,DAL,16,301.470588,2.529412,13,306.823529,2.000000,29,36.0,under
4,1/16/1972,1971,DAL,MIA,24,342.000000,2.176471,3,311.176471,1.705882,27,34.0,under
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10391,1/17/2021,2020,KAN,CLE,22,417.117647,1.000000,17,370.882353,0.882353,39,56.0,under
10392,1/17/2021,2020,NOR,TAM,20,378.294118,1.294118,30,391.647059,0.882353,50,53.0,under
10393,1/24/2021,2020,GNB,TAM,26,386.294118,0.764706,31,392.352941,0.941176,57,53.0,over
10394,1/24/2021,2020,KAN,BUF,38,421.235294,1.058824,24,376.235294,1.176471,62,55.0,over
10395,2/7/2021,2020,TAM,KAN,31,391.588235,0.941176,9,417.470588,1.176471,40,54.5,under

In [2]:
df['score_home'] = df['score_home'].astype('float64')
df['score_away'] = df['score_away'].astype('float64')
df['total_score'] = df['total_score'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10332 entries, 0 to 10395
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   schedule_date    10332 non-null  object
 1   schedule_season  10332 non-null  int64
 2   home_id          10332 non-null  object
 3   away_id          10332 non-null  object
 4   score_home       10332 non-null  float64
 5   home_avg_yards   10332 non-null  float64
 6   home_avg_TO      10332 non-null  float64
 7   score_away       10332 non-null  float64
 8   away_avg_yards   10332 non-null  float64
 9   away_avg_TO      10332 non-null  float64
 10  total_score      10332 non-null  float64
 11  over_under_line  10332 non-null  float64
 12  label            10332 non-null  object
dtypes: float64(8), int64(1), object(4)
memory usage: 1.1+ MB

In [43]:
from sklearn.preprocessing import LabelEncoder
# encode the labels. 0 for over, 1 for under
labelencoder = LabelEncoder()
df['over_under_categorical'] = labelencoder.fit_transform(df['label'])
features = pd.DataFrame(df, columns = ['home_avg_yards', 'home_avg_TO', 'away_avg_yards', 'away_avg_TO'])
labels = pd.DataFrame(df, columns=['over_under_categorical'])
df
labels

       over_under_categorical
0                           0
1                           1
2                           1
3                           1
4                           1
...                       ...
10391                       1
10392                       1
10393                       0
10394                       0
10395                       1

[10332 rows x 1 columns]

In [42]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import numpy as np


features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size=0.3, random_state=109)

k_range = range(1, 26)
scores = []

knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(features_train, labels_train)
predictions = knn.predict(labels_test)

#tn, fp, fn, tp = metrics.confusion_matrix(labels_test, predictions).ravel()
#d = {}
#d['k']         = k
#d['accuracy']  = (tp + tn) / (tp + fp + fn + tn)
#d['precision'] = tp / (tp + fp)
#d['recall']    = tp / (tp + fn)
#d['f1']        = (2*(recall * precision)) / (recall + precision)
#scores.append(d)
    
labels_test

ValueError: Expected 2D array, got 1D array instead:
array=[1 1 0 ... 0 1 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.